body {
  margin: 0;
  overflow: hidden;
}

#img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.textarea {
  position: absolute;
  inset: 0;
  border: none;
  background: rgb(0 0 0 / 50%);
  outline: none;
  padding: 1rem;
  backdrop-filter: blur(2rem);
  color: #fff;
}